<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Kitchen Inventory Manager</title>

    <link rel="stylesheet" href="/static/css/pico.classless.min.css">
  </head>

  <body>
    <header class="container">
      <h1>Kitchen Pantry Manager</h1>

      <nav>
        <ul>
          <li>
            Home
          </li>

          <li>
            <a href="#">
              Expiring Soonest
            </a>
          </li>

          <li>
            <a href="#">
              Is There Enough?
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="container">
      
    </main>
  </body>
</html>
